[submodule "SubmoduleTestRepo"]
	path = SubmoduleTestRepo
	url = https://github.com/jzaccone/SubmoduleTestRepo.git
[submodule "SubmoduleBranched"]
	path = SubmoduleBranched
	url = https://github.com/jzaccone/SubmoduleTestRepo.git
	branch = master
[submodule "SubmoduleDetached"]
	path = SubmoduleDetached
	url = https://github.com/jzaccone/SubmoduleTestRepo.git
